.root{
    -fx-min-height: 320px;
    -fx-font-family: Bahnschrift;
    -fx-font-size: 23;
    -fx-background-color: #e6fff0;
    -fx-border-width: 3;
    -fx-border-color: darkgreen
}
.button {
    -fx-font-size: 25px;
    -fx-font-family: Bahnschrift;
    -fx-background-color: darkgreen
    linear-gradient(#52f227, #e8f5fc),
    linear-gradient(#fffaed 0%, #fff2d1 49%, #fce4a9 50%, #fadd91 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius:8;
    -fx-padding: 3 20 3 20;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 7,0,0,3 );
}
.header-panel {
    -fx-background-color: #fce4a9;
}

