.root{
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20;
    -fx-background-color: #e6fff0;
    -fx-border-width: 3;
    -fx-border-color: darkgreen
}

#focim {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 48;
}

#adatMegtekintes {
    -fx-font-size: 32;
    -fx-font-family: "Century Gothic";
}

#adatModositas {
    -fx-font-size: 32;
    -fx-font-family: "Century Gothic";
}
#alcim {
    -fx-font-size: 42;
    -fx-font-family: "Century Gothic";
}

#reszletek{
    -fx-font-size: 22;
    -fx-font-family: "Century Gothic";
}

.label {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 23;
}

.button{
    -fx-min-height: 43px;
    -fx-font-size: 23;
    -fx-font-family: "Century Gothic";
    -fx-background-color: darkgreen
    linear-gradient(#52f227, #e8f5fc),
    linear-gradient(#fffaed 0%, #fff2d1 49%, #fce4a9 50%, #fadd91 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius:8;
    -fx-padding: 3 20 3 20;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 7,0,0,3 );
}

.button:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/*.label:hover {*/
/*    -fx-scale-x: 1.05;*/
/*    -fx-scale-y: 1.05;*/
/*  }*/

.tooltip {
    -fx-font-size: 25;
    -fx-show-delay: 300ms;
}

.combo-box {
    -fx-max-height: 40px;
    -fx-font-size: 23;
    -fx-font-family: "Century Gothic";
    -fx-background-color: darkgreen
    linear-gradient(#52f227, #e8f5fc),
    linear-gradient(#fffaed 0%, #fff2d1 49%, #fce4a9 50%, #fadd91 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius:8;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 7,0,0,3 );
}

.menu-button {
    -fx-max-height: 43px;
    -fx-font-size: 23;
    -fx-font-family: "Century Gothic";
    -fx-background-color: darkgreen
    linear-gradient(#52f227, #e8f5fc),
    linear-gradient(#fffaed 0%, #fff2d1 49%, #fce4a9 50%, #fadd91 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius:8;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 7,0,0,3 );
}

.menu-item .label   {
    -fx-font-family: "Century Gothic";
    -fx-font-size: 25;
}

.text-field {
    -fx-background-radius:8;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 24;
}

.list-view {
    -fx-font-size: 25;
    -fx-font-family: "Century Gothic";
}

.text-area {
    text-area-background: blue ;
    -fx-font-size: 25;
    -fx-font-family: "Century Gothic";
    -fx-display-caret: false;
}

#reszletekFigyelmeztetes {
    -fx-font-size: 20;
    -fx-font-family: "Century Gothic";
}

.list-cell:odd {
    -fx-cell-hover-color: #579e3f;
    -fx-background-color: white;
}

.list-cell:even {
    -fx-cell-hover-color: #579e3f;
    -fx-background-color: #e6fff0;
}

.list-cell:selected {
    -fx-text-fill: black;
    -fx-background-color: #6fd94e;
}

.hyperlink {
    -fx-font-size: 21;
    -fx-font-weight: bold;
}

#pafiLink {
    -fx-font-size: 25 ;
    -fx-font-family: "Century Gothic";
}

.combo-box .list-cell:selected {
    -fx-background-color: darkgreen
    linear-gradient(#52f227, #e8f5fc),
    linear-gradient(#fffaed 0%, #fff2d1 49%, #fce4a9 50%, #fadd91 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius:0;
    -fx-text-fill: black;
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 7,0,0,3 );*/
    -fx-border-style: none;
}

.combo-box .list-cell:hover {
    -fx-border-width: 0;
    -fx-text-fill: black;
    -fx-background-color: darkgreen
    linear-gradient(#52f227, #e8f5fc),
    linear-gradient(#fffaed 0%, #fff2d1 49%, #fce4a9 50%, #fadd91 100%);
}

.date-picker {
    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
    -fx-background-color: #e6fff0;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 15;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: darkgreen
    linear-gradient(#52f227, #e8f5fc),
    linear-gradient(#fffaed 0%, #fff2d1 49%, #fce4a9 50%, #fadd91 100%);
    -fx-background-insets: 0,1,2;
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
}

.date-picker .button {
    -fx-background-color: transparent;
    -fx-border-color:green;
    -fx-pref-height: 35px;
    -fx-pref-width: 35px;
}



