.root{
    -fx-font-family: Century Gothic;
    -fx-font-size: 20;
    -fx-background-color: #e6fff0;
    -fx-border-width: 3;
    -fx-border-color: darkgreen
}

#focim {
    -fx-font-family: Bahnschrift;
    -fx-font-size: 34;
}

#adatMegtekintes {
    -fx-font-size: 32;
    -fx-font-family: Bahnschrift;
}

#adatModositas {
    -fx-font-size: 32;
    -fx-font-family: Bahnschrift;
}
#alcim {
    -fx-font-size: 29;
    -fx-font-family: Bahnschrift;
}

.label {
    -fx-font-family: Bahnschrift;
    -fx-font-size: 16;
}

.button{
    -fx-font-size: 17;
    -fx-font-family: Bahnschrift;
    -fx-background-color: darkgreen
    linear-gradient(#52f227, #e8f5fc),
    linear-gradient(#fffaed 0%, #fff2d1 49%, #fce4a9 50%, #fadd91 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius:8;
    -fx-padding: 3 20 3 20;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 7,0,0,3 );
}

.button:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/*.label:hover {*/
/*    -fx-scale-x: 1.05;*/
/*    -fx-scale-y: 1.05;*/
/*  }*/

.tooltip {
    -fx-show-delay: 300ms;
}

.combo-box {
    -fx-font-size: 18;
    -fx-font-family: Bahnschrift;
    -fx-background-color: darkgreen
    linear-gradient(#52f227, #e8f5fc),
    linear-gradient(#fffaed 0%, #fff2d1 49%, #fce4a9 50%, #fadd91 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius:8;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 7,0,0,3 );
}

.menu-button {
    -fx-font-size: 11;
    -fx-font-family: "Bahnschrift";
    -fx-background-color: darkgreen
    linear-gradient(#52f227, #e8f5fc),
    linear-gradient(#fffaed 0%, #fff2d1 49%, #fce4a9 50%, #fadd91 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius:8;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 7,0,0,3 );
}

.menu-item .label   {
    -fx-font-family: Bahnschrift;
    -fx-font-size: 15;
}

.text-field {
    -fx-background-radius:8;
    -fx-font-family: Bahnschrift;
    -fx-font-size: 15;
}

.list-view {
    -fx-font-size: 15;
    -fx-font-family: Bahnschrift;
}

.text-area {
    text-area-background: blue ;
    -fx-font-size: 16;
    -fx-font-family: Bahnschrift;
    -fx-display-caret: false;
}

.tooltip {
    -fx-font-size: 16;
}

#reszletekFigyelmeztetes {
    -fx-font-size: 12;
    -fx-font-family: Bahnschrift;
}

